table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

th {
    background-color: rgb(112, 200, 53);
}

a {
    text-decoration: none;
    font-weight: bold;
}

input {
    text-align: center;
}

.NoControl {
    border: 0;
    outline: none;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
}